{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_style.css' %}">

<div class="assignments-container">
    <h2 class="heading">Exam Dashboard</h2>
    <div class="create-assignment-btn">
        <a href="{% url 'exam:create_exam' %}" class="btn create-btn">+ Create New Exam</a>
    </div>
    <div class="assignment-list">
        {% if exams %}
        <table>
            <thead>
                <tr>
                    <th>Exam Name</th>
                    <th>Class Group</th>
                    <th>Date of examination</th>
                    <th>Starting time</th>
                    <th>Ending Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for exam in exams %}
                <tr class="{% if exam.deadline < now %}late{% else %}on-time{% endif %}">
                    <td>{{ exam.name }}</td>
                    <td>{{ exam.group }}</td>
                    <td>{{ exam.deadline }}</td>
                    <td>{{ exam.start_duration }}</td>
                    <td>{{ exam.end_duration }}</td>
                    <td>
                        <a href="{% url 'exam:view_submissions_exam' exam.id %}" class="btn view-btn">View Submissions</a>
                        <a href="{% url 'exam:extend_deadline_exam' exam.id %}" class="btn extend-btn">Extend</a>
                        <form method="POST" action="{% url 'exam:delete_exam' exam.id %}" class="delete-form"
                            onsubmit="return confirm('Are you sure you want to delete this assignment?');">
                            {% csrf_token %}
                            <button type="submit" class="btn delete-btn">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="no-assignments">No exams available.</p>
        {% endif %}
    </div>
</div>

{% endblock %}