{% extends "base.html" %}

{% block content %}
<h2>Submissions for {{ exam.name }}</h2>

{% if submissions %}
<table>
    <thead>
        <tr>
            <th>Student</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Submitted On</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
        <tr>
            <td>{{ submission.student.username }}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{ submission.submitted_at }}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><a href="{% url 'exam:view_student_submission_exam' submission.id %}">View Submission</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No submissions yet.</p>
{% endif %}
{% endblock %}
